body {
    
    padding: 4em;
    background-color: beige;
}

#logo {
    height: 7em;
    width: 7em;
    float: right;
}
#main {
    display: flex;
    flex-direction: column;
    
}

#vehicleSearch {
    max-height: 1.5em;
}

h1 {
    font-family: 'Rubik Lines';
    font-size: 30px;
    text-align: center;
}

#ownerUser-form {
    display: flex;
    max-height: 1.5em;
}

#vehicleUser-form {
    display: flex;
    max-height: 1.5em;
}
