::selection {
    background-color: hsl(1, 100%, 50%); /* Set the background color */
}

h1 {
    color: white;
    font-family: 'Rubik Lines';
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    padding: 0.5em;
    background-color: rgb(74, 64, 64);
}

h3 {
    color: white;
    padding: 0.5em;
    background-color: rgb(74, 64, 64);
}

h6 {
    color: white;
    padding: 0.1em;
    background-color: rgb(74, 64, 64);
}

p {
    color: white;
    padding: 0.1em;
    background-color: rgb(74, 64, 64);
}

.currentVehicleInfo {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 0.5em;
    background-color: rgb(74, 64, 64);
}

.currentOwnerInfo {
    color: white;
    padding: 0.1em;
    background-color: rgb(74, 64, 64);
}

body {
    padding: 4em;
    background-color: #0000cd;
}

#main {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    flex-grow: 4;
}

/* #allLicensePlates {
    display: flex;
    flex-direction: column;
    max-height: 1.5em;
} */

#licensePlateForm {
    display: flex;
    flex-direction: column;
}

#vehicleUser-form {
    display: flex;
    flex-direction: column;
    max-height: 1.5em;
    max-width: 15em;
    padding: 1em;
}

#vehicleResults {
    display: flex;
    flex-direction: column;
    max-height: 1.5em;
    max-width: 15em;
}

.vehicleId {
    padding: 1em;
}

.vehicleColor {
    padding: 1em;
}

.licensePlate {
    padding: 1em;
}

.vehicleMake {
    padding: 1em;
}

.model {
    padding: 1em;
}

.model {
    padding: 1em;
}

.year {
    padding: 1em;
}

.ownerId {
    padding: 1em;
}


.currentOwnerInfo {
    display: flex;
    flex-direction: column;
}

#ownerForm {
    display: flex;
    flex-direction: column;
}

#ownerUser-form {
    display: flex;
    flex-direction: column;
    max-height: 1.5em;
    padding: 1em;
}

#ownerResults {
    display: flex;
    flex-direction: column;
    max-height: 1.5em;
    max-width: 15em;
}

.id {
    padding: 1em;
}

.firstName {
    padding: 1em;
}

.lastName {
    padding: 1em;
}

.footer {
    justify-content: flex-end;
    align-items: flex-end;
}

#logo {
    height: 7em;
    width: 7em;
    float: right;
}